@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-line {
    width: 1px; /* Line thickness */
    background-color: black; /* Line color */
}

#box2 {
    height: 26rem;
}

#cardsBox {
    width: 30%;
}

table {
    border: 1px solid black;
}
td {
    background-color: rgba(128, 128, 128, 0.192);
    border: 1px solid black;
    padding: 1%;
}

th {
    background-color: gray;
    padding: 1%;
    border: 1px solid black;
    color: white;
}

.hide {
    display: none;
}
